.upgradeMain
{
	background-color: orange;
	height: 80px;
	width: 350px;
	border-color: blue;
	border-style: dotted;
	margin-bottom: 10px;
	color: black;
}

.upgradeMain:hover
{
	background-color: gray;
}

#name
{
	font-weight: bold;
	color: red;
}

#description
{
	color: yellow;
}