<div class="upgradeContainer">
	<div class="upgradeMain" *ngFor="let upgrade of this.gs.upgrades; let i = index;" (click)="clicked(i)">
		<div class="leftColumn"></div>
		<div class="rightColumn"></div>
		<img id="upg_icon" src="{{ upgrade.icon }}" />
		<div id="name">{{ upgrade.name }}</div>
		<div id="description" class="hiddenContent">{{ upgrade.description}}</div>
		<div id="multiplier" class="hiddenContent">Mnożnik: {{upgrade.multiplier}}</div>
		<div id="price" class="hiddenContent">Cena: {{ upgrade.base_prize }} cebul</div>
		<div id="bought" [hidden]="!this.isBoughtById(upgrade.system_id)"></div>
	  <div class="woodenRow"></div>
	</div>
</div>
