<div class="structureMain" *ngFor="let str of this.gs.structures; let i = index;" (click)="clicked(i)">
  <table>
	<tr>
		<td>
			<img src="{{ str.icon }}" />
		</td>
		<td>
			<div id="name">{{ str.name }}</div>
			<div id="description">{{ str.description}}</div>
			<div>Cena: {{ this.priceForLevel(i) }} cebul</div>
			<div>+{{str.production_rate}} produkcja cebul/s</div>
		</td>
		<td>
			<div id="numOfStructures">
				{{ this.gs.numOfStructure(str.system_id) }}
			</div>
		</td>
	</tr>
  </table>
  
</div>
