/* You can add global styles to this file, and also import other style files */
body
{
	background-color: black;
	color: yellow;
}

#mainOnion
{
	width: 500px; 
	height: 500px;
}

#onionContainer
{
	padding: 20px;
	width: 650px; 
	height: 700px;
}

#onionCounter
{
	font-size: 50px;
}

#loginContainer
{
	width: 100%;
	text-align: right;
}

#sctructureContainer
{
	
}