/* You can add global styles to this file, and also import other style files */
body
{
	color: yellow;
	background: #c3f1fe ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c3f1fe , #f1feff ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c3f1fe , #f1feff ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c3f1fe , #f1feff ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c3f1fe , #f1feff ); /* Standard syntax */
}

#grassContainer
{	
	background:url("assets/grass.svg") repeat-x left bottom;
	width: 100%;
	height: 170px;
	position: fixed;
	bottom: 0px;
	z-index: 100;
}

.navbar-default
{
	background-color: #c5f3ff;
	border-color: #c5f3ff;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #c5f3ff;
}

#mainOnion
{
	width: 600px; 
	height: 600px;
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 5;
}

#onionContainer
{
	padding: 20px;
	width: 650px; 
	height: 700px;
}

#loginContainer
{
	width: 100%;
	text-align: right;
}

.plusLabel
{
	width: 50px;
	height: 30px;
	position: absolute;
	z-index: 1000;
	
	font-size: 30px;
	background: -webkit-linear-gradient(#91522c, #7a3827);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Semringah";
}

.plusClick
{
	width: 12px;
	height: 12px;
	margin-right: 3px;
	margin-bottom: 10px;
}