<div id="statisticsMain">
	<div id="topFrame" class="horizontalFrame"></div>
	<div id="bottomFrame" class="horizontalFrame"></div>
	<div id="leftFrame" class="verticalFrame"></div>
	<div id="rightFrame" class="verticalFrame"></div>
	
	<div id="leftTop1Corner" class="corner"></div>
	<div id="leftTop2Corner" class="corner"></div>
	<div id="rightTop1Corner" class="corner"></div>
	<div id="rightTop2Corner" class="corner"></div>
	<div id="leftBottomCorner" class="corner"></div>
	<div id="rightBottomCorner" class="corner"></div>
	
	<div id="statisticsContent">
		<div id="numberOfCliksLabel" class="labelDiv textDiv">Kliknięcia w cebule:</div>
		<div id="numberOfCliksValue" class="textDiv">1234567890</div>
		<div id="numberOfTookOnionsLabel" class="textDiv">Łącznie zebrane cebule:</div>
		<div id="numberOfTookOnionsValue" class="textDiv">1234567890</div>
		
	</div>
</div>